<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<div class="about-header">
    <h2>About TeamFitness</h2>
        <div class="about-ins">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl lectus, dictum vel congue id, mattis et mi. Mauris hendrerit ornare lobortis. Mauris sit amet enim ac ligula euismod mattis ac sed enim. Nunc id felis at dui venenatis hendrerit at luctus libero. Donec pretium, odio sed viverra efficitur, risus urna semper orci, eget faucibus justo dui vel sapien. Nam ut felis non arcu gravida facilisis. Ut ut euismod lectus. Vivamus porta tellus a arcu bibendum congue. Cras id gravida orci, eget placerat augue. Curabitur feugiat mattis dolor, aliquet finibus velit sagittis sit amet. Ut arcu velit, hendrerit et lectus vel, volutpat interdum dolor. Sed vel eros ultricies, semper ex feugiat, sollicitudin magna. Sed viverra hendrerit luctus. Aenean nec gravida dui, in molestie turpis. Suspendisse imperdiet turpis sed ligula pulvinar, id dictum turpis posuere. Nulla nec vehicula turpis.</p>
        </div>
</div>

<div class="contact-tf">
    <h2> Contact TeamFitness! </h2>
    <form action="mailto:liamrutherford10@gmail.com" method="post" enctype="text/plain">
    Full Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Subject:<br>
    <input type="text" name="subject"><br>
    Message:<br>
    <input type="text" name="message" size="50"><br>
    <input type="submit" value="Send">
    </form>
</div>

</body>
</html>