<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<div class="add_sidenav">
    
    <div class="tf_logo">
            <h2>TeamFitness</h2>
    </div>
    
    <ul>
        <a href="/" target="_self">Home</a>
        <a href="/dashboard" target="_self">Dashboard</a>
        <a href="/agenda" target="_self">Agenda</a>
        <a href="/about" target="_self">About TF</a>
    </ul>
    <br>
    <ul>
        <a href="/overview" target="_self">Overview</a>
        <a href="/schedule" target="_self">Schedule</a>
        <a href="/tracking" target="_self">Tracking</a>
    </ul>
</div>

<div class="dash-sub_boxs">
    <h2> Overview of Logs </h2>
</div>

</body>
</html>